<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhengbangnet.modules.mapper.AdMapper">

	<!-- 通用查询结果列-->
	<sql id="Base_Column_List">
		id, createDate, modifyDate, imgUrl, name, link, isShow, adLocationId, shopId, orders
	</sql>

	<!-- 查询（根据主键ID查询） -->
	<select id="getByPrimaryKey" resultType="com.zhengbangnet.modules.entity.Ad" parameterType="java.lang.Long">
		 SELECT
		 <include refid="Base_Column_List" />
		 FROM ad
		 WHERE id = #{id}
	</select>
	
	<select id="getBanner" resultType="com.zhengbangnet.modules.entity.Ad">
		 SELECT
		 <include refid="Base_Column_List" />
		 FROM ad
		 WHERE adLocationId = 1 
		 and isShow = 1 
		 order by orders
	</select>
	
	<select id="getBannerByShopId" resultType="com.zhengbangnet.modules.entity.Ad" parameterType="java.lang.Long">
		 SELECT
		 <include refid="Base_Column_List" />
		 FROM ad
		 WHERE adLocationId = 2 
		 and isShow = 1 
		 and shopId = #{shopId} 
		 order by orders
	</select>

	<!--删除：根据主键ID删除-->
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
		 DELETE FROM ad
		 WHERE id = #{id}
	</delete>

	<!-- 添加 -->
	<insert id="insert" parameterType="com.zhengbangnet.modules.entity.Ad">
		 INSERT INTO ad
 		(createDate,modifyDate,imgUrl,name,link,isShow,adLocationId,shopId,orders) 
		 VALUES 
 		(#{createDate},#{modifyDate},#{imgUrl},#{name},#{link},#{isShow},#{adLocationId},#{shopId},#{orders})
	 <selectKey resultType="java.lang.Long" keyProperty="id">
		 SELECT 
		 LAST_INSERT_ID() 
	 </selectKey> 
	</insert>

	<!-- 添加 （匹配有值的字段）-->
	<insert id="insertSelective" parameterType="com.zhengbangnet.modules.entity.Ad">
		 INSERT INTO ad
		 <trim prefix="(" suffix=")" suffixOverrides="," >
			<if test="createDate != null">
				 createDate,
			</if>
			<if test="modifyDate != null">
				 modifyDate,
			</if>
			<if test="imgUrl != null">
				 imgUrl,
			</if>
			<if test="name != null">
				 name,
			</if>
			<if test="link != null">
				 link,
			</if>
			<if test="isShow != null">
				 isShow,
			</if>
			<if test="adLocationId != null">
				 adLocationId,
			</if>
			<if test="shopId != null">
				 shopId,
			</if>
			<if test="orders != null">
				 orders,
			</if>

		 </trim>
		 <trim prefix="values (" suffix=")" suffixOverrides="," >
			<if test="createDate!=null">
				 #{createDate},
			</if>
			<if test="modifyDate!=null">
				 #{modifyDate},
			</if>
			<if test="imgUrl!=null">
				 #{imgUrl},
			</if>
			<if test="name!=null">
				 #{name},
			</if>
			<if test="link!=null">
				 #{link},
			</if>
			<if test="isShow!=null">
				 #{isShow},
			</if>
			<if test="adLocationId!=null">
				 #{adLocationId},
			</if>
			<if test="shopId!=null">
				 #{shopId},
			</if>
			<if test="orders!=null">
				 #{orders},
			</if>
		 </trim>
	</insert>

	<!-- 修 改-->
	<update id="updateByPrimaryKeySelective" parameterType="com.zhengbangnet.modules.entity.Ad">
		 UPDATE ad
 		 <set> 
			<if test="modifyDate != null">
				 modifyDate = #{modifyDate},
			</if>
			<if test="imgUrl != null">
				 imgUrl = #{imgUrl},
			</if>
			<if test="name != null">
				 name = #{name},
			</if>
			<if test="link != null">
				 link = #{link},
			</if>
			<if test="isShow != null">
				 isShow = #{isShow},
			</if>
			<if test="adLocationId != null">
				 adLocationId = #{adLocationId},
			</if>
			<if test="shopId != null">
				 shopId = #{shopId},
			</if>
			<if test="orders != null">
				 orders = #{orders},
			</if>

 		 </set>
		 WHERE id = #{id}
	</update>

	<!-- 修 改-->
	<update id="updateByPrimaryKey" parameterType="com.zhengbangnet.modules.entity.Ad">
		 UPDATE ad
		 SET 
			 modifyDate = #{modifyDate},
			 imgUrl = #{imgUrl},
			 name = #{name},
			 link = #{link},
			 isShow = #{isShow},
			 adLocationId = #{adLocationId},
			 shopId = #{shopId},
			 orders = #{orders}
		 WHERE id = #{id}
	</update>

	<!-- 分页查询-->
	<select id="findPageByParams" resultType="java.util.Map" >
		 SELECT 
		 a.id id, a.createDate createDate, a.modifyDate modifyDate, a.imgUrl imgUrl, a.name name, a.link link, a.isShow isShow, 
		 a.shopId shopId, a.orders orders, ad.name locationName, a.adLocationId adLocationId 
		 FROM ad a
		 left join ad_location ad on a.adLocationId=ad.id 
		 where 1=1 
 <!-- 
			<if test="id != null ">
				 AND ad.id = #{id} 
			</if>
 --> 
		<!--  order by a.createDate desc -->
		 order by a.adLocationId asc, a.orders asc
		 LIMIT #{pageable.firstResult},#{pageable.pageSize} 
	</select>
	<select id="getCountByParams" resultType="java.lang.Long" >
		 SELECT COUNT(*) 
		 FROM ad a
		 left join ad_location ad on a.adLocationId=ad.id 
		 WHERE 1=1 
 <!-- 
			<if test="id != null ">
				 AND ad.id = #{id} 
			</if>
 --> 
	</select>

	<select id="findAll" resultType="com.zhengbangnet.modules.entity.Ad" >
		 SELECT
		 <include refid="Base_Column_List" />
		 FROM ad
	</select>
	
	
	<select id="findListByParams" resultType="java.util.Map" >
		 SELECT ad.*
		 FROM ad
		 WHERE 1=1
		 <if test="adLocationId != null ">
			 AND ad.adLocationId = #{adLocationId} 
		 </if>
		 <if test="articleCategoryId != null ">
			 AND ad.articleCategoryId = #{articleCategoryId}
		 </if>
		 <if test="isShow != null ">
			 AND ad.isShow = #{isShow} 
		 </if>
		 order by orders asc
	</select>

</mapper>