<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhengbangnet.modules.mapper.PickUpAddressMapper">

	<!-- 通用查询结果列-->
	<sql id="Base_Column_List">
		id, address, orders
	</sql>

	<!-- 查询（根据主键ID查询） -->
	<select id="getByPrimaryKey" resultType="com.zhengbangnet.modules.entity.PickUpAddress" parameterType="java.lang.Long">
		 SELECT
		 <include refid="Base_Column_List" />
		 FROM pick_up_address
		 WHERE id = #{id}
	</select>

	<!--删除：根据主键ID删除-->
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
		 DELETE FROM pick_up_address
		 WHERE id = #{id}
	</delete>

	<!-- 添加 -->
	<insert id="insert" parameterType="com.zhengbangnet.modules.entity.PickUpAddress">
		 INSERT INTO pick_up_address
 		(address,orders) 
		 VALUES 
 		(#{address},#{orders})
	 <selectKey resultType="java.lang.Long" keyProperty="id">
		 SELECT 
		 LAST_INSERT_ID() 
	 </selectKey> 
	</insert>

	<!-- 添加 （匹配有值的字段）-->
	<insert id="insertSelective" parameterType="com.zhengbangnet.modules.entity.PickUpAddress">
		 INSERT INTO pick_up_address
		 <trim prefix="(" suffix=")" suffixOverrides="," >
			<if test="address != null">
				 address,
			</if>
			<if test="orders != null">
				 orders,
			</if>

		 </trim>
		 <trim prefix="values (" suffix=")" suffixOverrides="," >
			<if test="address!=null">
				 #{address},
			</if>
			<if test="orders!=null">
				 #{orders},
			</if>
		 </trim>
	</insert>

	<!-- 修 改-->
	<update id="updateByPrimaryKeySelective" parameterType="com.zhengbangnet.modules.entity.PickUpAddress">
		 UPDATE pick_up_address
 		 <set> 
			<if test="address != null">
				 address = #{address},
			</if>
			<if test="orders != null">
				 orders = #{orders},
			</if>

 		 </set>
		 WHERE id = #{id}
	</update>

	<!-- 修 改-->
	<update id="updateByPrimaryKey" parameterType="com.zhengbangnet.modules.entity.PickUpAddress">
		 UPDATE pick_up_address
		 SET 
			 address = #{address},
			 orders = #{orders}
		 WHERE id = #{id}
	</update>

	<!-- 分页查询-->
	<select id="findPageByParams" resultType="java.util.Map" >
		 SELECT 
		 <include refid="Base_Column_List" />
		 FROM pick_up_address
		 where 1=1 
 <!-- 
			<if test="id != null ">
				 AND pick_up_address.id = #{id} 
			</if>
 --> 
		 order by pick_up_address.createDate desc 
		 LIMIT #{pageable.firstResult},#{pageable.pageSize} 
	</select>
	<select id="getCountByParams" resultType="java.lang.Long" >
		 SELECT COUNT(id) FROM pick_up_address
		 WHERE 1=1 
 <!-- 
			<if test="id != null ">
				 AND pick_up_address.id = #{id} 
			</if>
 --> 
	</select>

	<select id="findAll" resultType="com.zhengbangnet.modules.entity.PickUpAddress" >
		 SELECT
		 <include refid="Base_Column_List" />
		 FROM pick_up_address
	</select>

</mapper>