<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhengbangnet.modules.mapper.ProductStockMapper">

	<!-- 通用查询结果列-->
	<sql id="Base_Column_List">
		id, createDate, modifyDate, price, soldOut, stock, imgUrl, size, tableware,
		shareNum, productId, sn, memberPrice, marketPrice, point, givePoint, name,
		specName,maxOffsetPoint,isVoid,isDisabled
	</sql>

	<!-- 查询（根据主键ID查询） -->
	<select id="getByPrimaryKey" resultType="com.zhengbangnet.modules.entity.ProductStock" parameterType="java.lang.Long">
		 SELECT
		 <include refid="Base_Column_List" />
		 FROM product_stock
		 WHERE id = #{id}
	</select>

	<select id="getSpecByProductStockId" resultType="java.util.Map" parameterType="java.lang.Long">
		SELECT
		(select sn.name from spec_name sn where sn.id = ps.specNameId) specName,
		(select sv.value from spec_value sv where sv.id = ps.specValueId) specValue
		FROM product_stock_spec_name_value ps
		WHERE ps.productStockId = #{productStockId}
	</select>

	<update id="updateVoidStatus" >
		UPDATE product_stock
		SET isVoid = 1
		WHERE productId = #{productId}
	</update>

	<!--删除：根据主键ID删除-->
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
		 DELETE FROM product_stock
		 WHERE id = #{id}
	</delete>

	<delete id="deleteByProductId" parameterType="java.lang.Long">
		DELETE FROM product_stock
		WHERE productId = #{productId}
	</delete>

	<insert id="insert" parameterType="com.zhengbangnet.modules.entity.ProductStock">
		INSERT INTO product_stock
		(createDate,modifyDate,price,soldOut,stock,imgUrl,size,tableware,shareNum,productId,
		sn,memberPrice,marketPrice,point,givePoint,name,specName,maxOffsetPoint,isVoid,isDisabled)
		VALUES
		(#{createDate},#{modifyDate},#{price},#{soldOut},#{stock},#{imgUrl},#{size},#{tableware},#{shareNum},#{productId},
		#{sn},#{memberPrice},#{marketPrice},#{point},#{givePoint},#{name},#{specName},#{maxOffsetPoint},#{isVoid},#{isDisabled})
		<selectKey resultType="java.lang.Long" keyProperty="id">
			SELECT
			LAST_INSERT_ID()
		</selectKey>
	</insert>

	<!-- 添加 （匹配有值的字段）-->
	<insert id="insertSelective" parameterType="com.zhengbangnet.modules.entity.ProductStock">
		INSERT INTO product_stock
		<trim prefix="(" suffix=")" suffixOverrides="," >
			<if test="createDate != null">
				createDate,
			</if>
			<if test="modifyDate != null">
				modifyDate,
			</if>
			<if test="price != null">
				price,
			</if>
			<if test="soldOut != null">
				soldOut,
			</if>
			<if test="stock != null">
				stock,
			</if>
			<if test="imgUrl != null">
				imgUrl,
			</if>
			<if test="size != null">
				size,
			</if>
			<if test="tableware != null">
				tableware,
			</if>
			<if test="shareNum != null">
				shareNum,
			</if>
			<if test="productId != null">
				productId,
			</if>
			<if test="sn != null">
				sn,
			</if>
			<if test="memberPrice != null">
				memberPrice,
			</if>
			<if test="marketPrice != null">
				marketPrice,
			</if>
			<if test="point != null">
				point,
			</if>
			<if test="givePoint != null">
				givePoint,
			</if>
			<if test="name != null">
				name,
			</if>
			<if test="specName != null">
				specName,
			</if>
			<if test="maxOffsetPoint != null">
                maxOffsetPoint,
			</if>
			<if test="isVoid != null">
				isVoid,
			</if>
			<if test="isDisabled != null">
				isDisabled,
			</if>

		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides="," >
			<if test="createDate!=null">
				#{createDate},
			</if>
			<if test="modifyDate!=null">
				#{modifyDate},
			</if>
			<if test="price!=null">
				#{price},
			</if>
			<if test="soldOut!=null">
				#{soldOut},
			</if>
			<if test="stock!=null">
				#{stock},
			</if>
			<if test="imgUrl!=null">
				#{imgUrl},
			</if>
			<if test="size!=null">
				#{size},
			</if>
			<if test="tableware!=null">
				#{tableware},
			</if>
			<if test="shareNum!=null">
				#{shareNum},
			</if>
			<if test="productId!=null">
				#{productId},
			</if>
			<if test="sn!=null">
				#{sn},
			</if>
			<if test="memberPrice!=null">
				#{memberPrice},
			</if>
			<if test="marketPrice!=null">
				#{marketPrice},
			</if>
			<if test="point!=null">
				#{point},
			</if>
			<if test="givePoint!=null">
				#{givePoint},
			</if>
			<if test="name!=null">
				#{name},
			</if>
			<if test="specName!=null">
				#{specName},
			</if>
			<if test="maxOffsetPoint !=null">
				#{maxOffsetPoint},
			</if>
			<if test="isVoid !=null">
				#{isVoid},
			</if>
			<if test="isDisabled !=null">
				#{isDisabled},
			</if>
		</trim>
		<selectKey resultType="java.lang.Long" keyProperty="id">
			SELECT
			LAST_INSERT_ID()
		</selectKey>
	</insert>

	<!-- 修 改-->
	<update id="updateByPrimaryKeySelective" parameterType="com.zhengbangnet.modules.entity.ProductStock">
		UPDATE product_stock
		<set>
			<if test="modifyDate != null">
				modifyDate = #{modifyDate},
			</if>
			<if test="price != null">
				price = #{price},
			</if>
			<if test="soldOut != null">
				soldOut = #{soldOut},
			</if>
			<if test="stock != null">
				stock = #{stock},
			</if>
			<if test="imgUrl != null">
				imgUrl = #{imgUrl},
			</if>
			<if test="size != null">
				size = #{size},
			</if>
			<if test="tableware != null">
				tableware = #{tableware},
			</if>
			<if test="shareNum != null">
				shareNum = #{shareNum},
			</if>
			<if test="productId != null">
				productId = #{productId},
			</if>
			<if test="sn != null">
				sn = #{sn},
			</if>
			<if test="memberPrice != null">
				memberPrice = #{memberPrice},
			</if>
			<if test="marketPrice != null">
				marketPrice = #{marketPrice},
			</if>
			<if test="point != null">
				point = #{point},
			</if>
			<if test="givePoint != null">
				givePoint = #{givePoint},
			</if>
			<if test="name != null">
				name = #{name},
			</if>
			<if test="specName != null">
				specName = #{specName},
			</if>
			<if test="maxOffsetPoint != null">
                maxOffsetPoint = #{maxOffsetPoint},
			</if>
			<if test="isVoid != null">
				isVoid = #{isVoid},
			</if>
			<if test="isDisabled != null">
				isDisabled = #{isDisabled},
			</if>

		</set>
		WHERE id = #{id}
	</update>

	<!-- 修 改-->
	<update id="updateByPrimaryKey" parameterType="com.zhengbangnet.modules.entity.ProductStock">
		 UPDATE product_stock
		 SET
			 modifyDate = #{modifyDate},
			 price = #{price},
			 soldOut = #{soldOut},
			 stock = #{stock},
			 imgUrl = #{imgUrl},
			 size = #{size},
			 tableware = #{tableware},
			 shareNum = #{shareNum},
			 productId = #{productId},
			 sn = #{sn},
			 memberPrice = #{memberPrice},
			 marketPrice = #{marketPrice},
			 point = #{point},
			 givePoint = #{givePoint},
			 name = #{name},
			 specName = #{specName},
			 maxOffsetPoint = #{maxOffsetPoint},
			 isVoid = #{isVoid}
			 isDisabled = #{isDisabled}
		 WHERE id = #{id}
	</update>

	<update id="updateStock" >
		UPDATE product_stock
		 SET stock = stock + (#{count})
		 WHERE id = #{productStockId}
		 AND stock = #{queryStock}
		 AND soldOut = #{querySoldout}
	</update>

	<!-- 分页查询-->
	<select id="findPageByParams" resultType="java.util.Map" >
		SELECT
		<include refid="Base_Column_List" />
		FROM product_stock
		where 1=1
		<!--
                   <if test="id != null ">
                        AND product_stock.id = #{id}
                   </if>
        -->
		order by product_stock.createDate desc
		LIMIT #{pageable.firstResult},#{pageable.pageSize}
	</select>
	<select id="getCountByParams" resultType="java.lang.Long" >
		SELECT COUNT(id) FROM product_stock
		WHERE 1=1
		<!--
                   <if test="id != null ">
                        AND product_stock.id = #{id}
                   </if>
        -->
	</select>

	<select id="findAll" resultType="com.zhengbangnet.modules.entity.ProductStock" >
		SELECT
		<include refid="Base_Column_List" />
		FROM product_stock
	</select>

	<select id="getByProductId" resultType="com.zhengbangnet.modules.entity.ProductStock" >
		SELECT
		<include refid="Base_Column_List" />
		FROM product_stock ps
		where 1=1
		AND productId = #{productId}
		AND isVoid = 0
		AND isDisabled = 0
        order by ps.price asc limit 1
	</select>

	<select id="findByProductId" resultType="com.zhengbangnet.modules.entity.ProductStock" >
		SELECT
		<include refid="Base_Column_List" />
		FROM product_stock ps
		where 1=1
		AND ps.productId = #{productId}
		AND ps.isVoid = 0
	</select>

	<select id="getBySpecNameAndProductId" resultType="com.zhengbangnet.modules.entity.ProductStock" >
		SELECT
		<include refid="Base_Column_List" />
		FROM product_stock ps
		where 1=1
		AND productId = #{productId}
		AND specName = #{specName}
	</select>


	<select id="findListByParams" resultType="java.util.Map">
		SELECT * FROM product_stock ps
		where 1=1
		<if test="productId!=null">
			and ps.productId = #{productId}
		</if>
		<if test="isVoid!=null">
			and ps.isVoid = #{isVoid}
		</if>
		<if test="isDisabled!=null">
			and ps.isDisabled = #{isDisabled}
		</if>
	</select>

	<select id="getProductStockSpecValue" resultType="java.lang.Long">
		SELECT
		pssnv.specValueId
		FROM
		product_stock ps
		JOIN product_stock_spec_name_value pssnv ON ps.id = pssnv.productStockId
		WHERE 1=1
		AND ps.isVoid = 0
		AND ps.isDisabled = 0
		AND ps.id = #{productId}
	</select>

</mapper>