<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhengbangnet.modules.mapper.ProductStockSpecNameValueMapper">

	<!-- 通用查询结果列-->
	<sql id="Base_Column_List">
		productStockId, specNameId, specValueId
	</sql>

	<!-- 查询（根据主键ID查询） -->
	<select id="getByPrimaryKey" resultType="com.zhengbangnet.modules.entity.ProductStockSpecNameValue" parameterType="java.lang.Long">
		 SELECT
		 <include refid="Base_Column_List" />
		 FROM product_stock_spec_name_value
		 WHERE productStockId = #{productStockId}
	</select>

	<select id="getByProductId" resultType="com.zhengbangnet.modules.entity.ProductStockSpecNameValue" parameterType="java.lang.Long">
		SELECT
		<include refid="Base_Column_List" />
		FROM product_stock_spec_name_value
		WHERE productStockId
		IN (SELECT id from product_stock WHERE productId = #{id})
	</select>

	<select id="getBySpecNameId" resultType="com.zhengbangnet.modules.entity.ProductStockSpecNameValue" parameterType="java.lang.Long">
		SELECT
		<include refid="Base_Column_List" />
		FROM product_stock_spec_name_value
		WHERE specNameId = #{specNameId}
	</select>

	<select id="getBySpecValueId" resultType="com.zhengbangnet.modules.entity.ProductStockSpecNameValue" parameterType="java.lang.Long">
		SELECT
		<include refid="Base_Column_List" />
		FROM product_stock_spec_name_value
		WHERE specValueId = #{specValueId}
	</select>

	<!--删除：根据主键ID删除-->
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
		 DELETE FROM product_stock_spec_name_value
		 WHERE productStockId = #{productStockId}
	</delete>

	<delete id="deleteByProductStockId" parameterType="java.lang.Long">
		DELETE FROM product_stock_spec_name_value
		WHERE productStockId = #{productStockId}
	</delete>

	<!-- 添加 -->
	<insert id="insert" parameterType="com.zhengbangnet.modules.entity.ProductStockSpecNameValue">
		 INSERT INTO product_stock_spec_name_value
 		(productStockId,specNameId,specValueId)
		 VALUES 
 		(#{productStockId},#{specNameId},#{specValueId})
	 <selectKey resultType="java.lang.Long" keyProperty="id">
		 SELECT 
		 LAST_INSERT_ID() 
	 </selectKey> 
	</insert>

	<!-- 添加 （匹配有值的字段）-->
	<insert id="insertSelective" parameterType="com.zhengbangnet.modules.entity.ProductStockSpecNameValue">
		 INSERT INTO product_stock_spec_name_value
		 <trim prefix="(" suffix=")" suffixOverrides="," >
			<if test="productStockId != null">
				 productStockId,
			</if>
			<if test="specNameId != null">
				 specNameId,
			</if>
			<if test="specValueId != null">
				 specValueId,
			</if>

		 </trim>
		 <trim prefix="values (" suffix=")" suffixOverrides="," >
			<if test="specNameId!=null">
				 #{specNameId},
			</if>
			<if test="specValueId!=null">
				 #{specValueId},
			</if>
		 </trim>
	</insert>

	<!-- 修 改-->
	<update id="updateByPrimaryKeySelective" parameterType="com.zhengbangnet.modules.entity.ProductStockSpecNameValue">
		 UPDATE product_stock_spec_name_value
 		 <set> 
			<if test="specNameId != null">
				 specNameId = #{specNameId},
			</if>
			<if test="specValueId != null">
				 specValueId = #{specValueId},
			</if>

 		 </set>
		 WHERE productStockId = #{productStockId}
	</update>

	<!-- 修 改-->
	<update id="updateByPrimaryKey" parameterType="com.zhengbangnet.modules.entity.ProductStockSpecNameValue">
		 UPDATE product_stock_spec_name_value
		 SET 
			 specNameId = #{specNameId},
			 specValueId = #{specValueId}
		 WHERE productStockId = #{productStockId}
	</update>

	<!-- 分页查询-->
	<select id="findPageByParams" resultType="java.util.Map" >
		 SELECT 
		 <include refid="Base_Column_List" />
		 FROM product_stock_spec_name_value
		 where 1=1 
 <!-- 
			<if test="id != null ">
				 AND product_stock_spec_name_value.id = #{id} 
			</if>
 --> 
		 order by product_stock_spec_name_value.createDate desc 
		 LIMIT #{pageable.firstResult},#{pageable.pageSize} 
	</select>
	<select id="getCountByParams" resultType="java.lang.Long" >
		 SELECT COUNT(specValueId) FROM product_stock_spec_name_value
		 WHERE 1=1 
 <!-- 
			<if test="id != null ">
				 AND product_stock_spec_name_value.id = #{id} 
			</if>
 --> 
	</select>

	<select id="findAll" resultType="com.zhengbangnet.modules.entity.ProductStockSpecNameValue" >
		 SELECT
		 <include refid="Base_Column_List" />
		 FROM product_stock_spec_name_value
	</select>

	<select id="findListByParams" resultType="java.util.Map">
		SELECT * FROM product_stock_spec_name_value pssnv
		where 1=1
		<if test="productStockId!=null">
			and pssnv.productStockId = #{productStockId}
		</if>
	</select>

</mapper>