<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhengbangnet.modules.mapper.ProductComponentMapper">

	<!-- 通用查询结果列-->
	<sql id="Base_Column_List">
		productId, componentId
	</sql>

	<!-- 查询（根据主键ID查询） -->
	<select id="getByPrimaryKey" resultType="com.zhengbangnet.modules.entity.ProductComponent" parameterType="java.lang.Long">
		 SELECT
		 <include refid="Base_Column_List" />
		 FROM product_component
		 WHERE productId = #{productId}
	</select>

	<select id="getByComponentId" resultType="com.zhengbangnet.modules.entity.ProductComponent" parameterType="java.lang.Long">
		SELECT
		<include refid="Base_Column_List" />
		FROM product_component
		WHERE componentId = #{componentId}
	</select>

	<select id="getByProductId" resultType="com.zhengbangnet.modules.entity.ProductComponent" parameterType="java.lang.Long">
		SELECT
		<include refid="Base_Column_List" />
		FROM product_component
		WHERE productId = #{productId}
	</select>


	<!--删除：根据主键ID删除-->
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
		 DELETE FROM product_component
		 WHERE productId = #{productId}
	</delete>

	<delete id="deleteByProductId" parameterType="java.lang.Long">
		DELETE FROM product_component
		WHERE productId = #{productId}
	</delete>

	<!-- 添加 -->
	<insert id="insert" parameterType="com.zhengbangnet.modules.entity.ProductComponent">
		 INSERT INTO product_component
 		(componentId, productId)
		 VALUES 
 		(#{componentId}, #{productId})
	 <selectKey resultType="java.lang.Long" keyProperty="id">
		 SELECT 
		 LAST_INSERT_ID() 
	 </selectKey> 
	</insert>

	<!-- 添加 （匹配有值的字段）-->
	<insert id="insertSelective" parameterType="com.zhengbangnet.modules.entity.ProductComponent">
		 INSERT INTO product_component
		 <trim prefix="(" suffix=")" suffixOverrides="," >
			<if test="productId != null">
				 productId,
			</if>
			<if test="componentId != null">
				 componentId,
			</if>

		 </trim>
		 <trim prefix="values (" suffix=")" suffixOverrides="," >
			<if test="componentId!=null">
				 #{componentId},
			</if>
		 </trim>
	</insert>

	<!-- 修 改-->
	<update id="updateByPrimaryKeySelective" parameterType="com.zhengbangnet.modules.entity.ProductComponent">
		 UPDATE product_component
 		 <set> 
			<if test="componentId != null">
				 componentId = #{componentId},
			</if>

 		 </set>
		 WHERE productId = #{productId}
	</update>

	<!-- 修 改-->
	<update id="updateByPrimaryKey" parameterType="com.zhengbangnet.modules.entity.ProductComponent">
		 UPDATE product_component
		 SET 
			 componentId = #{componentId}
		 WHERE productId = #{productId}
	</update>

	<!-- 分页查询-->
	<select id="findPageByParams" resultType="java.util.Map" >
		 SELECT 
		 <include refid="Base_Column_List" />
		 FROM product_component
		 where 1=1 
 <!-- 
			<if test="id != null ">
				 AND product_component.id = #{id} 
			</if>
 --> 
		 order by product_component.createDate desc 
		 LIMIT #{pageable.firstResult},#{pageable.pageSize} 
	</select>
	<select id="getCountByParams" resultType="java.lang.Long" >
		 SELECT COUNT(productId) FROM product_component
		 WHERE 1=1 
 <!-- 
			<if test="id != null ">
				 AND product_component.id = #{id} 
			</if>
 --> 
	</select>

	<select id="findAll" resultType="com.zhengbangnet.modules.entity.ProductComponent" >
		 SELECT
		 <include refid="Base_Column_List" />
		 FROM product_component
	</select>

</mapper>