<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhengbangnet.modules.mapper.RefundMapper">

	<!-- 通用查询结果列-->
	<sql id="Base_Column_List">
		id, createDate, modifyDate, ordersId, memberId, adminId, thirdPayRefund, balancePayRefund, sn,
		thirdSn, refundDate, status,pointPayRefund
	</sql>

	<!-- 查询（根据主键ID查询） -->
	<select id="getByPrimaryKey" resultType="com.zhengbangnet.modules.entity.Refund" parameterType="java.lang.Long">
		 SELECT
		 <include refid="Base_Column_List" />
		 FROM refund
		 WHERE id = #{id}
	</select>

	<select id="getBySn" resultType="com.zhengbangnet.modules.entity.Refund" parameterType="java.lang.String">
		 SELECT
		 <include refid="Base_Column_List" />
		 FROM refund
		 WHERE sn = #{sn}
	</select>

	<!--删除：根据主键ID删除-->
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
		 DELETE FROM refund
		 WHERE id = #{id}
	</delete>

	<!-- 添加 -->
	<insert id="insert" parameterType="com.zhengbangnet.modules.entity.Refund">
		 INSERT INTO refund
 		(createDate,modifyDate,ordersId,memberId,adminId,thirdPayRefund,balancePayRefund,
		sn,thirdSn,refundDate,status,pointPayRefund)
		 VALUES 
 		(#{createDate},#{modifyDate},#{ordersId},#{memberId},#{adminId},
		#{thirdPayRefund},#{balancePayRefund},#{sn},#{thirdSn},#{refundDate},#{status},#{pointPayRefund})
	 <selectKey resultType="java.lang.Long" keyProperty="id">
		 SELECT 
		 LAST_INSERT_ID() 
	 </selectKey> 
	</insert>

	<!-- 添加 （匹配有值的字段）-->
	<insert id="insertSelective" parameterType="com.zhengbangnet.modules.entity.Refund">
		 INSERT INTO refund
		 <trim prefix="(" suffix=")" suffixOverrides="," >
			<if test="createDate != null">
				 createDate,
			</if>
			<if test="modifyDate != null">
				 modifyDate,
			</if>
			<if test="ordersId != null">
				 ordersId,
			</if>
			<if test="memberId != null">
				 memberId,
			</if>
			<if test="adminId != null">
				 adminId,
			</if>
			<if test="thirdPayRefund != null">
				 thirdPayRefund,
			</if>
			<if test="balancePayRefund != null">
				 balancePayRefund,
			</if>
			<if test="sn != null">
				 sn,
			</if>
			<if test="thirdSn != null">
				 thirdSn,
			</if>
			<if test="refundDate != null">
				 refundDate,
			</if>
			<if test="status != null">
				 status,
			</if>
			<if test="pointPayRefund != null">
				pointPayRefund,
			</if>

		 </trim>
		 <trim prefix="values (" suffix=")" suffixOverrides="," >
			<if test="createDate!=null">
				 #{createDate},
			</if>
			<if test="modifyDate!=null">
				 #{modifyDate},
			</if>
			<if test="ordersId!=null">
				 #{ordersId},
			</if>
			<if test="memberId!=null">
				 #{memberId},
			</if>
			<if test="adminId!=null">
				 #{adminId},
			</if>
			<if test="thirdPayRefund!=null">
				 #{thirdPayRefund},
			</if>
			<if test="balancePayRefund!=null">
				 #{balancePayRefund},
			</if>
			<if test="sn!=null">
				 #{sn},
			</if>
			<if test="thirdSn!=null">
				 #{thirdSn},
			</if>
			<if test="refundDate!=null">
				 #{refundDate},
			</if>
			<if test="status!=null">
				 #{status},
			</if>
			<if test="pointPayRefund !=null">
				 #{pointPayRefund},
			</if>
		 </trim>
	 <selectKey resultType="java.lang.Long" keyProperty="id">
		 SELECT 
		 LAST_INSERT_ID() 
	 </selectKey> 
	</insert>

	<!-- 修 改-->
	<update id="updateByPrimaryKeySelective" parameterType="com.zhengbangnet.modules.entity.Refund">
		 UPDATE refund
 		 <set> 
			<if test="modifyDate != null">
				 modifyDate = #{modifyDate},
			</if>
			<if test="ordersId != null">
				 ordersId = #{ordersId},
			</if>
			<if test="memberId != null">
				 memberId = #{memberId},
			</if>
			<if test="adminId != null">
				 adminId = #{adminId},
			</if>
			<if test="thirdPayRefund != null">
				 thirdPayRefund = #{thirdPayRefund},
			</if>
			<if test="balancePayRefund != null">
				 balancePayRefund = #{balancePayRefund},
			</if>
			<if test="sn != null">
				 sn = #{sn},
			</if>
			<if test="thirdSn != null">
				 thirdSn = #{thirdSn},
			</if>
			<if test="refundDate != null">
				 refundDate = #{refundDate},
			</if>
			<if test="status != null">
				 status = #{status},
			</if>
			<if test="pointPayRefund != null">
				pointPayRefund = #{pointPayRefund},
			</if>

 		 </set>
		 WHERE id = #{id}
	</update>

	<!-- 修 改-->
	<update id="updateByPrimaryKey" parameterType="com.zhengbangnet.modules.entity.Refund">
		 UPDATE refund
		 SET 
			 modifyDate = #{modifyDate},
			 ordersId = #{ordersId},
			 memberId = #{memberId},
			 adminId = #{adminId},
			 thirdPayRefund = #{thirdPayRefund},
			 balancePayRefund = #{balancePayRefund},
			 sn = #{sn},
			 thirdSn = #{thirdSn},
			 refundDate = #{refundDate},
			 status = #{status},
			 pointPayRefund = #{pointPayRefund}
		 WHERE id = #{id}
	</update>

	<!-- 分页查询-->
	<select id="findPageByParams" resultType="java.util.Map" >
		 SELECT 
		 <include refid="Base_Column_List" />
		 FROM refund
		 where 1=1 
 <!-- 
			<if test="id != null ">
				 AND refund.id = #{id} 
			</if>
 --> 
		 order by refund.createDate desc 
		 LIMIT #{pageable.firstResult},#{pageable.pageSize} 
	</select>
	<select id="getCountByParams" resultType="java.lang.Long" >
		 SELECT COUNT(id) FROM refund
		 WHERE 1=1 
 <!-- 
			<if test="id != null ">
				 AND refund.id = #{id} 
			</if>
 --> 
	</select>

	<select id="findAll" resultType="com.zhengbangnet.modules.entity.Refund" >
		 SELECT
		 <include refid="Base_Column_List" />
		 FROM refund
	</select>

	<select id="findListByParams" resultType="java.util.Map" >
		SELECT
			r.*
		FROM refund r
		where 1=1
		<if test="ordersId!=null">
			and r.ordersId = #{ordersId}
		</if>
	</select>

</mapper>