<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhengbangnet.modules.mapper.ShippingTimeMapper">

	<!-- 通用查询结果列-->
	<sql id="Base_Column_List">
		id, time, orders,endTime,msgTime
	</sql>

	<!-- 查询（根据主键ID查询） -->
	<select id="getByPrimaryKey" resultType="com.zhengbangnet.modules.entity.ShippingTime" parameterType="java.lang.Long">
		 SELECT
		 <include refid="Base_Column_List" />
		 FROM shipping_time
		 WHERE id = #{id}
	</select>

	<!--删除：根据主键ID删除-->
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
		 DELETE FROM shipping_time
		 WHERE id = #{id}
	</delete>

	<!-- 添加 -->
	<insert id="insert" parameterType="com.zhengbangnet.modules.entity.ShippingTime">
		 INSERT INTO shipping_time
 		(time,orders,endTime,msgTime)
		 VALUES 
 		(#{time},#{orders},#{endTime},#{msgTime})
	 <selectKey resultType="java.lang.Long" keyProperty="id">
		 SELECT 
		 LAST_INSERT_ID() 
	 </selectKey> 
	</insert>

	<!-- 添加 （匹配有值的字段）-->
	<insert id="insertSelective" parameterType="com.zhengbangnet.modules.entity.ShippingTime">
		 INSERT INTO shipping_time
		 <trim prefix="(" suffix=")" suffixOverrides="," >
			<if test="time != null">
				 time,
			</if>
			<if test="orders != null">
				 orders,
			</if>
			<if test="endTime != null">
				endTime,
			</if>
			<if test="msgTime != null">
				msgTime,
			</if>

		 </trim>
		 <trim prefix="values (" suffix=")" suffixOverrides="," >
			<if test="time!=null">
				 #{time},
			</if>
			<if test="orders!=null">
				 #{orders},
			</if>
			<if test="endTime!=null">
				 #{endTime},
			</if>
			<if test="msgTime!=null">
				 #{msgTime},
			</if>
		 </trim>
	</insert>

	<!-- 修 改-->
	<update id="updateByPrimaryKeySelective" parameterType="com.zhengbangnet.modules.entity.ShippingTime">
		 UPDATE shipping_time
 		 <set> 
			<if test="time != null">
				 time = #{time},
			</if>
			<if test="orders != null">
				 orders = #{orders},
			</if>
			<if test="endTime != null">
				endTime = #{endTime},
			</if>
			<if test="msgTime != null">
				msgTime = #{msgTime},
			</if>

 		 </set>
		 WHERE id = #{id}
	</update>

	<!-- 修 改-->
	<update id="updateByPrimaryKey" parameterType="com.zhengbangnet.modules.entity.ShippingTime">
		 UPDATE shipping_time
		 SET 
			 time = #{time},
			 orders = #{orders},
			 endTime = #{endTime},
			 msgTime = #{msgTime}
		 WHERE id = #{id}
	</update>

	<!-- 分页查询-->
	<select id="findPageByParams" resultType="java.util.Map" >
		 SELECT 
		 <include refid="Base_Column_List" />
		 FROM shipping_time
		 where 1=1 
 <!-- 
			<if test="id != null ">
				 AND shipping_time.id = #{id} 
			</if>
 --> 
		 order by shipping_time.createDate desc 
		 LIMIT #{pageable.firstResult},#{pageable.pageSize} 
	</select>
	<select id="getCountByParams" resultType="java.lang.Long" >
		 SELECT COUNT(id) FROM shipping_time
		 WHERE 1=1 
 <!-- 
			<if test="id != null ">
				 AND shipping_time.id = #{id} 
			</if>
 --> 
	</select>

	<select id="findAll" resultType="com.zhengbangnet.modules.entity.ShippingTime" >
		 SELECT
		 <include refid="Base_Column_List" />
		 FROM shipping_time
	</select>

	<select id="getByTime" resultType="com.zhengbangnet.modules.entity.ShippingTime" >
		 SELECT
		 	<include refid="Base_Column_List" />
		 FROM shipping_time st
		where 1=1 and st.time = #{pstime}
	</select>

</mapper>