#consumption{
	width: 100%;
	overflow: hidden;
	
}
input[type="submit"], input[type="reset"], input[type="text"], input[type="button"], button {
    -webkit-appearance: none;
}
#consumption .item-consumption{
	position: relative;
	font-size: 14px;
}
#consumption .item-consumption:after{
	content: " ";
    position: absolute;
    left: 0;
    right: 0;
    height: 1px;
    color: #e5e5e5;
	bottom: 0;
    border-bottom: 1px solid #e5e5e5;
    -webkit-transform-origin: 0 100%;
    transform-origin: 0 100%;
    -webkit-transform: scaleY(.5);
    transform: scaleY(.5);
}
/*recharge*/
.recharge_title {
	width: 90%;
	line-height: 28px;
	margin: 20px auto 5px auto;
	font-size: 14px;
}

.recharge_title ul li {
	width: 50%;
	float: left;
	font-size: 16px;
	color: #808080;
	text-align: center;
}

.recharge_title ul li.on {
	border-bottom: 2px solid #0077b2;
	color: #0077B2;
}

.recharge_body {
	width: 92%;
	margin: 0 auto;
	height: 7em;
}

.recharge_body .weichat_select li {
	width: 31%;
	margin: 0 1.155% 7px 1.155%;
	font-size: 14px;
	color: #333333;
	float: left;
	text-align: center;
	border-radius: 2px;
	background: #fff;
	height: 3em;
	line-height: 3em;
	overflow: hidden;
	border: 1px solid #d6d6d6;
	box-sizing: border-box;
	outline: none;
	-webkit-tap-highlight-color: transparent;
}

.recharge_body .weichat_select li.on {
	border-color: #ff7d84;
	background: #ff7d84;
	color: #fff;
}

.btn_confirm {
	width: 90%;
	height: 45px;
	line-height: 45px;
	display: block;
	background: #ff7d84;
	text-align: center;
	font-size: 14px;
	color: #fff;
	border-radius: 4px;
	margin: 20px auto 0 auto;
}
.otherInp{
	width: 90%;
	height: 45px;
	line-height: 45px;
	display: block;
	background: #f2f2f2;
	text-align: center;
	font-size: 14px;
	color: #000;
	border: 0;
	outline: none;
	border-radius: 4px;
	margin: 0px auto 0 auto;
}
/*完善资料开始*/
.Item_perfectInfors{
	width: 90%;
	padding: 0 5%;
	height: 3em;
	background: #fff;
	line-height: 3em;
	font-size: 1em;
	color: #333;
	/*border-bottom: 1px solid #d9d9d9;*/
	margin-bottom: 1px;
}
.Item_perfectInfors input{
	font-size: 1em;
	color: #333;
	/* line-height: 3em; */
	/* line-height: 3em; */
	-webkit-tap-highlight-color: transparent;
}
.Item_perfectInfors select{
	font-size: 14px;
	color: #333;
	height: 26px;
}
.title_ws {
    width: 94%;
    height: 50px;
    line-height: 50px;
    margin: 0 auto;
    font-size: 18px;
    color: #940b41;
}
.same {
    width: 90%;
    padding: 0 1%;
    height: 40px;
    line-height: 40px;
    margin: 10px auto;
    border: 1px solid #ccc;
    border-radius: 7px;
    background: #fff;
    font-size: 16px;
    color: #333;
}
.same input {
    font-size: 16px;
    width: 60%;
    -webkit-tap-highlight-color: transparent;
}
.chaxun{
    width: 94%;
    height: 40px;
    line-height: 40px;
    display: block;
    margin: 20px auto;
    font-size: 18px;
    color: #fff;
    text-align: center;
    background: #940b41;
    border-radius: 7px;
}
.chaxun:link{color: #fff;}
.chaxun:visited{color: #fff;}
.Item_perfectInfors .label {
	display: -moz-inline-block;
	display: inline-block;
	cursor: pointer;
	padding-left: 25px;
	line-height: 30px;
	font-size: 1em;
	color: #4d4d4d;
	margin-left: 20px;
	background: url(../images/r_03.png) no-repeat left center;
	background-size:50% auto;
}
.label_checked {
	display: -moz-inline-block;
	display: inline-block;
	cursor: pointer;
	padding-left: 25px;
	line-height: 30px;
	font-size: 1em;
	color: #000;
	margin-left: 20px;
	background: url(../images/radio_03.png) no-repeat left center;
	background-size:50% auto;
}
#radio_id_1,#radio_id_2,#radio_id_3,#radio_id_4 {
	display: none;
}
.t_r{
	text-align: right;
	width: 70%;
	overflow: hidden;
	/* height: 40px; */
}
/*完善资料结束*/
/*评价开始*/
.box_evaluateWord{
	font-size: 1em;
	line-height: 1.5em;
}
.item_evaluate span{
	width: 20px;
	height: 20px;
	/*float: left;*/
	line-height: 20px;
}
.item_evaluate span img{
	line-height: 20px;
}
/*评价结束*/
/*我的客户开始*/
.color-greeno{
	color: #2ba92b;
}
/*我的客户结束*/
