<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhengbangnet.modules.mapper.ArticleMapper">

	<!-- 通用查询结果列-->
	<sql id="Base_Column_List">
		id, createDate, modifyDate, content, hits, isPublication, isTop, title, articleCategoryId, author, source, showImageUrl, subTitle, isIndex,sort
	</sql>

	<select id="superSelect" parameterType="String" resultType="java.util.HashMap"> 
		${value}
	</select>

	<select id="superSelectList" parameterType="String" resultType="java.util.HashMap"> 
		${value}
	</select>

	<!-- 查询（根据主键ID查询） -->
	<select id="getByPrimaryKey" resultType="com.zhengbangnet.modules.entity.Article" parameterType="java.lang.Long">
		 SELECT
		 <include refid="Base_Column_List" />
		 FROM article
		 WHERE id = #{id}
	</select>

	<!--删除：根据主键ID删除-->
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
		 DELETE FROM article
		 WHERE id = #{id}
	</delete>

	<!-- 添加 -->
	<insert id="insert" parameterType="com.zhengbangnet.modules.entity.Article" useGeneratedKeys="true" keyProperty="id">
		 INSERT INTO article
 		(createDate,modifyDate,content,isPublication,isTop,title,articleCategoryId,showImageUrl,sort)
		 VALUES 
 		(#{createDate},#{modifyDate},#{content},#{isPublication},#{isTop},#{title},#{articleCategoryId},#{showImageUrl},#{sort})
	</insert>

	<!-- 添加 （匹配有值的字段）-->
	<insert id="insertSelective" parameterType="com.zhengbangnet.modules.entity.Article" useGeneratedKeys="true" keyProperty="id">
		 INSERT INTO article
		 <trim prefix="(" suffix=")" suffixOverrides="," >
			<if test="createDate != null">
				 createDate,
			</if>
			<if test="modifyDate != null">
				 modifyDate,
			</if>
			<if test="content != null">
				 content,
			</if>
			<if test="hits != null">
				 hits,
			</if>
			<if test="isPublication != null">
				 isPublication,
			</if>
			<if test="isTop != null">
				 isTop,
			</if>
			<if test="title != null">
				 title,
			</if>
			<if test="articleCategoryId != null">
				 articleCategoryId,
			</if>
			<if test="author != null">
				 author,
			</if>
			<if test="source != null">
				 source,
			</if>
			<if test="showImageUrl != null">
				 showImageUrl,
			</if>
			<if test="subTitle != null">
				 subTitle,
			</if>
			<if test="isIndex != null">
				 isIndex,
			</if>
			<if test="sort != null">
				 sort,
			</if>

		 </trim>
		 <trim prefix="values (" suffix=")" suffixOverrides="," >
			<if test="id!=null">
				 #{id},
			</if>
			<if test="createDate!=null">
				 #{createDate},
			</if>
			<if test="modifyDate!=null">
				 #{modifyDate},
			</if>
			<if test="content!=null">
				 #{content},
			</if>
			<if test="hits!=null">
				 #{hits},
			</if>
			<if test="isPublication!=null">
				 #{isPublication},
			</if>
			<if test="isTop!=null">
				 #{isTop},
			</if>
			<if test="title!=null">
				 #{title},
			</if>
			<if test="articleCategoryId!=null">
				 #{articleCategoryId},
			</if>
			<if test="author!=null">
				 #{author},
			</if>
			<if test="source!=null">
				 #{source},
			</if>
			<if test="showImageUrl!=null">
				 #{showImageUrl},
			</if>
			<if test="subTitle!=null">
				 #{subTitle},
			</if>
			<if test="isIndex!=null">
				 #{isIndex},
			</if>
			<if test="sort!=null">
				 #{sort},
			</if>
		 </trim>
	</insert>

	<!-- 修 改-->
	<update id="updateByPrimaryKeySelective" parameterType="com.zhengbangnet.modules.entity.Article">
		 UPDATE article
 		 <set> 
			<if test="createDate != null">
				 createDate = #{createDate},
			</if>
			<if test="modifyDate != null">
				 modifyDate = #{modifyDate},
			</if>
			<if test="content != null">
				 content = #{content},
			</if>
			<if test="hits != null">
				 hits = #{hits},
			</if>
			<if test="isPublication != null">
				 isPublication = #{isPublication},
			</if>
			<if test="isTop != null">
				 isTop = #{isTop},
			</if>
			<if test="title != null">
				 title = #{title},
			</if>
			<if test="articleCategoryId != null">
				 articleCategoryId = #{articleCategoryId},
			</if>
			<if test="author != null">
				 author = #{author},
			</if>
			<if test="source != null">
				 source = #{source},
			</if>
			<if test="showImageUrl != null">
				 showImageUrl = #{showImageUrl},
			</if>
			<if test="subTitle != null">
				 subTitle = #{subTitle},
			</if>
			<if test="isIndex != null">
				 isIndex = #{isIndex},
			</if>
			<if test="sort != null">
				 sort = #{sort},
			</if>
 		 </set>
		 WHERE id = #{id}
	</update>

	<!-- 修 改-->
	<update id="updateByPrimaryKey" parameterType="com.zhengbangnet.modules.entity.Article">
		 UPDATE article
		 SET 
			 createDate = #{createDate},
			 modifyDate = #{modifyDate},
			 content = #{content},
			 hits = #{hits},
			 isPublication = #{isPublication},
			 isTop = #{isTop},
			 title = #{title},
			 articleCategoryId = #{articleCategoryId},
			 author = #{author},
			 source = #{source},
			 showImageUrl = #{showImageUrl},
			 subTitle = #{subTitle},
			 isIndex = #{isIndex},
			 sort = #{sort}
		 WHERE id = #{id}
	</update>

	<select id="findAll" resultType="com.zhengbangnet.modules.entity.Article" >
		 SELECT
		 <include refid="Base_Column_List" />
		 FROM article
	</select>

	<select id="findListByParams" resultType="java.util.Map" >
		SELECT
			article.*,(
				select tag.name tagName from article a
				join article_tag atg on a.id = atg.articleId
				join tag on tag.id = atg.tagId
				where a.id = article.id
				limit 1) tagName
		FROM article
		WHERE 1=1
		<if test="isPublication != null">
			AND article.isPublication = #{isPublication}
		</if>
		<if test="isIndex != null">
			AND article.isIndex = #{isIndex}
		</if>
        <if test="articleCategoryId != null and articleCategoryId!=''">
            and article.articleCategoryId = #{articleCategoryId}
        </if>
		order by if(isnull(article.sort),0,1) desc,article.sort asc,article.createDate desc
		<if test="count != null">
			limit ${count}
		</if>
	</select>

	<!-- 分页查询-->
	<select id="findPageByParams" resultType="java.util.Map" >
		 select
		 a.id, 
         a.showImageUrl, 
         a.title,
         a.source,
         a.modifyDate,
         a.createDate,
         a.hits,
         a.isTop,
         a.sort,
         a.isPublication,
		 a.subTitle,
		 ac.name
		 from article a,article_category ac where 1=1 and ac.id=a.articleCategoryId
		 <if test="startTime != null and startTime!=''">
		  		and a.modifyDate &gt;= #{startTime}
		 </if>
		 <if test="endTime != null and endTime!=''">
		  		and a.modifyDate &lt;= #{endTime}
		 </if>
		 <if test="keyword != null and keyword!=''">
		  		and  a.title like '%'+#{keyword}+'%'
		 </if>
		 <if test="cid != null and cid!=''">
		  		and a.articleCategoryId=#{cid}
		 </if>
        order by
		<if test="aids!=null and aids.length>0">
			if(<foreach collection="aids" separator="or" item="aid">
			a.id=#{aid}
			</foreach>,1,0) desc,
		</if>
		if(isnull(a.sort),0,1) desc,a.sort asc,a.createDate desc
        LIMIT #{pageable.firstResult},#{pageable.pageSize}

    </select>
	<select id="getCountByParams" resultType="java.lang.Long" >
		 SELECT COUNT(1) FROM article a,article_category ac
		 WHERE 1=1 
		 and ac.id=a.articleCategoryId
		 <if test="startTime != null and startTime!=''">
		  		and a.modifyDate &gt;= #{startTime}
		 </if>
		 <if test="endTime != null and endTime!=''">
		  		and a.modifyDate &gt;= #{endTime}
		 </if>
		 <if test="keyword != null and keyword!=''">
		  		and  a.title like '%'+#{keyword}+'%'
		 </if>
		 <if test="cid != null and cid!=''">
		  		and a.articleCategoryId=#{cid}
		 </if>
        LIMIT #{pageable.firstResult},#{pageable.pageSize}
	</select>
</mapper>