<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhengbangnet.modules.mapper.CartItemMapper">

	<!-- 通用查询结果列-->
	<sql id="Base_Column_List">
		id, createDate, modifeDate, cartId, productId, productStockId, quantity, birthdayCard
	</sql>

	<!-- 查询（根据主键ID查询） -->
	<select id="getByPrimaryKey" resultType="com.zhengbangnet.modules.entity.CartItem" parameterType="java.lang.Long">
		SELECT
		<include refid="Base_Column_List" />
		FROM cart_item
		WHERE id = #{id}
	</select>
	
	<!-- 根据购物车ID查询 -->
	<select id="getByCartId" resultType="com.zhengbangnet.modules.entity.CartItem" parameterType="java.lang.Long">
		 SELECT
		 <include refid="Base_Column_List" />
		 FROM cart_item
		 WHERE cartId = #{cartId}
	</select>
	
	<!-- 根据购物车ID和商品ID查询 -->
	<select id="getByCartItem" resultType="com.zhengbangnet.modules.entity.CartItem" parameterType="com.zhengbangnet.modules.entity.CartItem">
		 SELECT
		 <include refid="Base_Column_List" />
		 FROM cart_item
		 WHERE 1=1 
		 <if test="cartId != null">
			AND cartId = #{cartId}
		 </if>
		 <if test="productId != null">
			AND productId = #{productId} 
		 </if>
		 <if test="productStockId != null">
			AND productStockId = #{productStockId}
		 </if>
	</select>
	
	<!-- 根据购物车ID和商品ID从购物车明细中获取商品数量 -->
	<select id="getQuantityByCartIdAndProductId" resultType="com.zhengbangnet.modules.entity.CartItem">
		 SELECT quantity FROM cart_item
		 WHERE cartId = #{cartId} 
		 AND productId = #{productId}
	</select>
		
	<!-- 根据主键连接查询商品信息 -->
	<select id="getByCartItemId" resultType="java.util.Map">
		 SELECT
		 c.id id, c.createDate createDate, c.modifeDate modifeDate, c.cartId cartId, c.productId productId, c.quantity quantity, c.shopId shopId,  
		 p.name name, p.price price, p.showUrl showUrl, p.memo memo, p.memberPrice memberPrice, c.productSpec productSpec 
		 FROM cart_item c
		 LEFT JOIN product p on p.id = c.productId 
		 WHERE 1=1 
		 AND c.id in
		 <foreach collection="ids" item="id" open="(" separator="," close=")">  
            #{id}   
    	</foreach>
		 order by createDate
	</select>
	
	<!-- 根据购物车ID和商品ID查询 -->
	<select id="getListByCartItem" resultType="java.util.Map" parameterType="com.zhengbangnet.modules.entity.CartItem">
		 SELECT
		 DISTINCT c.id id, c.cartId cartId, c.productId productId, c.quantity quantity, c.birthdayCard,
		 p.name, p.subname, p.showUrl showUrl, p.memo memo, p.isBirthdayCard,
		 ps.price,ps.specName,ps.imgUrl,ps.tableware,ps.id productStockId,ps.maxOffsetPoint,ps.productId,p.sellDate
		 FROM cart_item c
		 LEFT JOIN product p on p.id = c.productId
         LEFT JOIN product_stock ps ON (ps.productId = p.id and ps.id = c.productStockId)
		 WHERE 1=1
		 <if test="cartId != null">
			AND c.cartId = #{cartId}
		 </if>
		 order by c.createDate desc
	</select>
	
	<!--删除：根据主键ID删除-->
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
		 DELETE FROM cart_item
		 WHERE id = #{id}
	</delete>
	
	<!-- 根据购物车ID和商品ID从购物车明细中删除商品 -->
	<delete id="deleteByCartIdAndProductId">
		 DELETE FROM cart_item 
		 WHERE cartId = #{cartId} 
		 AND productId = #{productId}
	</delete>

	<!-- 添加 -->
	<insert id="insert" parameterType="com.zhengbangnet.modules.entity.CartItem">
		INSERT INTO cart_item
		(createDate,modifeDate,cartId,productId,productStockId,quantity,birthdayCard)
		VALUES
		(#{createDate},#{modifeDate},#{cartId},#{productId},#{productStockId},#{quantity},#{birthdayCard})
		<selectKey resultType="java.lang.Long" keyProperty="id">
			SELECT
			LAST_INSERT_ID()
		</selectKey>
	</insert>

	<!-- 添加 （匹配有值的字段）-->
	<insert id="insertSelective" parameterType="com.zhengbangnet.modules.entity.CartItem">
		INSERT INTO cart_item
		<trim prefix="(" suffix=")" suffixOverrides="," >
			<if test="createDate != null">
				createDate,
			</if>
			<if test="modifeDate != null">
				modifeDate,
			</if>
			<if test="cartId != null">
				cartId,
			</if>
			<if test="productId != null">
				productId,
			</if>
			<if test="productStockId != null">
				productStockId,
			</if>
			<if test="quantity != null">
				quantity,
			</if>
			<if test="birthdayCard != null">
				birthdayCard,
			</if>

		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides="," >
			<if test="createDate!=null">
				#{createDate},
			</if>
			<if test="modifeDate!=null">
				#{modifeDate},
			</if>
			<if test="cartId!=null">
				#{cartId},
			</if>
			<if test="productId!=null">
				#{productId},
			</if>
			<if test="productStockId!=null">
				#{productStockId},
			</if>
			<if test="quantity!=null">
				#{quantity},
			</if>
			<if test="birthdayCard!=null">
				#{birthdayCard},
			</if>
		</trim>
	</insert>

	<!-- 修 改-->
	<update id="updateByPrimaryKeySelective" parameterType="com.zhengbangnet.modules.entity.CartItem">
		UPDATE cart_item
		<set>
			<if test="modifeDate != null">
				modifeDate = #{modifeDate},
			</if>
			<if test="cartId != null">
				cartId = #{cartId},
			</if>
			<if test="productId != null">
				productId = #{productId},
			</if>
			<if test="productStockId != null">
				productStockId = #{productStockId},
			</if>
			<if test="quantity != null">
				quantity = #{quantity},
			</if>
			<if test="birthdayCard != null">
				birthdayCard = #{birthdayCard},
			</if>

		</set>
		WHERE id = #{id}
	</update>

	<!-- 修 改-->
	<update id="updateByPrimaryKey" parameterType="com.zhengbangnet.modules.entity.CartItem">
		UPDATE cart_item
		SET
		modifeDate = #{modifeDate},
		cartId = #{cartId},
		productId = #{productId},
		productStockId = #{productStockId},
		quantity = #{quantity},
		birthdayCard = #{birthdayCard}
		WHERE id = #{id}
	</update>

	<!-- 分页查询-->
	<select id="findPageByParams" resultType="java.util.Map" >
		 SELECT 
		 <include refid="Base_Column_List" />
		 FROM cart_item
		 where 1=1 
 <!-- 
			<if test="id != null ">
				 AND cart_item.id = #{id} 
			</if>
 --> 
		 order by cart_item.createDate desc 
		 LIMIT #{pageable.firstResult},#{pageable.pageSize} 
	</select>
	<select id="getCountByParams" resultType="java.lang.Long" >
		 SELECT COUNT(id) FROM cart_item
		 WHERE 1=1 
 <!-- 
			<if test="id != null ">
				 AND cart_item.id = #{id} 
			</if>
 --> 
	</select>

	<select id="findAll" resultType="com.zhengbangnet.modules.entity.CartItem" >
		 SELECT
		 <include refid="Base_Column_List" />
		 FROM cart_item
	</select>

</mapper>