<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhengbangnet.modules.mapper.CouponTypeProductMapper">

	<!-- 通用查询结果列-->
	<sql id="Base_Column_List">
		couponTypeId, productId
	</sql>

	<!-- 查询（根据主键ID查询） -->
	<select id="getByPrimaryKey" resultType="com.zhengbangnet.modules.entity.CouponTypeProduct" parameterType="java.lang.Long">
		 SELECT
		 <include refid="Base_Column_List" />
		 FROM coupon_type_product
		 WHERE couponTypeId = #{couponTypeId}
	</select>

	<!--删除：根据主键ID删除-->
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
		 DELETE FROM coupon_type_product
		 WHERE couponTypeId = #{couponTypeId}
	</delete>

	<!-- 添加 -->
	<insert id="insert" parameterType="com.zhengbangnet.modules.entity.CouponTypeProduct">
		 INSERT INTO coupon_type_product
 		(couponTypeId,productId)
		 VALUES 
 		(#{couponTypeId},#{productId})
	</insert>

	<!-- 添加 （匹配有值的字段）-->
	<insert id="insertSelective" parameterType="com.zhengbangnet.modules.entity.CouponTypeProduct">
		 INSERT INTO coupon_type_product
		 <trim prefix="(" suffix=")" suffixOverrides="," >
			<if test="couponTypeId != null">
				 couponTypeId,
			</if>
			<if test="productId != null">
				 productId,
			</if>
		 </trim>
		 <trim prefix="values (" suffix=")" suffixOverrides="," >
			<if test="couponTypeId!=null">
				 #{couponTypeId},
			</if>
			 <if test="productId!=null">
				 #{productId},
			 </if>
		 </trim>
	</insert>

	<!-- 修 改-->
	<update id="updateByPrimaryKeySelective" parameterType="com.zhengbangnet.modules.entity.CouponTypeProduct">
		 UPDATE coupon_type_product
 		 <set> 
			<if test="productId != null">
				 productId = #{productId},
			</if>

 		 </set>
		 WHERE couponTypeId = #{couponTypeId}
	</update>

	<!-- 修 改-->
	<update id="updateByPrimaryKey" parameterType="com.zhengbangnet.modules.entity.CouponTypeProduct">
		 UPDATE coupon_type_product
		 SET 
			 productId = #{productId}
		 WHERE couponTypeId = #{couponTypeId}
	</update>

	<!-- 分页查询-->
	<select id="findPageByParams" resultType="java.util.Map" >
		 SELECT 
		 <include refid="Base_Column_List" />
		 FROM coupon_type_product
		 where 1=1 
 <!-- 
			<if test="id != null ">
				 AND coupon_type_product.id = #{id} 
			</if>
 --> 
		 order by coupon_type_product.createDate desc 
		 LIMIT #{pageable.firstResult},#{pageable.pageSize} 
	</select>
	<select id="getCountByParams" resultType="java.lang.Long" >
		 SELECT COUNT(productId) FROM coupon_type_product
		 WHERE 1=1 
 <!-- 
			<if test="id != null ">
				 AND coupon_type_product.id = #{id} 
			</if>
 --> 
	</select>

	<select id="findAll" resultType="com.zhengbangnet.modules.entity.CouponTypeProduct" >
		 SELECT
		 <include refid="Base_Column_List" />
		 FROM coupon_type_product
	</select>

	<select id="findListByParams" resultType="java.util.Map" >
		 SELECT
			ctp.*,p.name productName,p.showUrl productShowUrl
		 FROM coupon_type_product ctp
		 join coupon_type ct on ctp.couponTypeId = ct.id
		 join product p on p.id = ctp.productId
		 where 1=1
		 <if test="couponTypeId!=null">
			 and ctp.couponTypeId = #{couponTypeId}
		 </if>
	</select>

</mapper>