<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhengbangnet.modules.mapper.FilesMapper">

	<!-- 通用查询结果列-->
	<sql id="Base_Column_List">
		id, createDate, modifyDate, name, absolute, relative, md5, fileType, size
	</sql>

	<!-- 查询（根据主键ID查询） -->
	<select id="getByPrimaryKey" resultType="com.zhengbangnet.modules.entity.Files" parameterType="java.lang.Long">
		 SELECT
		 <include refid="Base_Column_List" />
		 FROM files
		 WHERE id = #{id}
	</select>

	<!--删除：根据主键ID删除-->
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
		 DELETE FROM files
		 WHERE id = #{id}
	</delete>

	<!-- 添加 -->
	<insert id="insert" parameterType="com.zhengbangnet.modules.entity.Files">
		 INSERT INTO files
 		(createDate,modifyDate,name,absolute,relative,md5,fileType,size) 
		 VALUES 
 		(#{createDate},#{modifyDate},#{name},#{absolute},#{relative},#{md5},#{fileType},#{size})
	 <selectKey resultType="java.lang.Long" keyProperty="id">
		 SELECT 
		 LAST_INSERT_ID() 
	 </selectKey> 
	</insert>

	<!-- 添加 （匹配有值的字段）-->
	<insert id="insertSelective" parameterType="com.zhengbangnet.modules.entity.Files">
		 INSERT INTO files
		 <trim prefix="(" suffix=")" suffixOverrides="," >
			<if test="createDate != null">
				 createDate,
			</if>
			<if test="modifyDate != null">
				 modifyDate,
			</if>
			<if test="name != null">
				 name,
			</if>
			<if test="absolute != null">
				 absolute,
			</if>
			<if test="relative != null">
				 relative,
			</if>
			<if test="md5 != null">
				 md5,
			</if>
			<if test="fileType != null">
				 fileType,
			</if>
			<if test="size != null">
				 size,
			</if>

		 </trim>
		 <trim prefix="values (" suffix=")" suffixOverrides="," >
			<if test="createDate!=null">
				 #{createDate},
			</if>
			<if test="modifyDate!=null">
				 #{modifyDate},
			</if>
			<if test="name!=null">
				 #{name},
			</if>
			<if test="absolute!=null">
				 #{absolute},
			</if>
			<if test="relative!=null">
				 #{relative},
			</if>
			<if test="md5!=null">
				 #{md5},
			</if>
			<if test="fileType!=null">
				 #{fileType},
			</if>
			<if test="size!=null">
				 #{size},
			</if>
		 </trim>
	</insert>

	<!-- 修 改-->
	<update id="updateByPrimaryKeySelective" parameterType="com.zhengbangnet.modules.entity.Files">
		 UPDATE files
 		 <set> 
			<if test="modifyDate != null">
				 modifyDate = #{modifyDate},
			</if>
			<if test="name != null">
				 name = #{name},
			</if>
			<if test="absolute != null">
				 absolute = #{absolute},
			</if>
			<if test="relative != null">
				 relative = #{relative},
			</if>
			<if test="md5 != null">
				 md5 = #{md5},
			</if>
			<if test="fileType != null">
				 fileType = #{fileType},
			</if>
			<if test="size != null">
				 size = #{size},
			</if>

 		 </set>
		 WHERE id = #{id}
	</update>

	<!-- 修 改-->
	<update id="updateByPrimaryKey" parameterType="com.zhengbangnet.modules.entity.Files">
		 UPDATE files
		 SET 
			 modifyDate = #{modifyDate},
			 name = #{name},
			 absolute = #{absolute},
			 relative = #{relative},
			 md5 = #{md5},
			 fileType = #{fileType},
			 size = #{size}
		 WHERE id = #{id}
	</update>

	<!-- 分页查询-->
	<select id="findPageByParams" resultType="java.util.Map" >
		 SELECT 
		 <include refid="Base_Column_List" />
		 FROM files
		 where 1=1 
 <!-- 
			<if test="id != null ">
				 AND files.id = #{id} 
			</if>
 --> 
		 order by files.createDate desc 
		 LIMIT #{pageable.firstResult},#{pageable.pageSize} 
	</select>
	<select id="getCountByParams" resultType="java.lang.Long" >
		 SELECT COUNT(id) FROM files
		 WHERE 1=1 
 <!-- 
			<if test="id != null ">
				 AND files.id = #{id} 
			</if>
 --> 
	</select>

	<select id="findAll" resultType="com.zhengbangnet.modules.entity.Files" >
		 SELECT
		 <include refid="Base_Column_List" />
		 FROM files
	</select>
	
	<select id="getByMd5" resultType="com.zhengbangnet.modules.entity.Files" >
		 SELECT
		 <include refid="Base_Column_List" />
		 FROM files
		 where 1=1 
		 and md5 = #{md5}
	</select>

</mapper>