<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhengbangnet.modules.mapper.ProductImageMapper">

	<!-- 通用查询结果列-->
	<sql id="Base_Column_List">
		id, createDate, modifyDate, productId, orders, imgUrl
	</sql>

	<!-- 查询（根据主键ID查询） -->
	<select id="getByPrimaryKey" resultType="com.zhengbangnet.modules.entity.ProductImage" parameterType="java.lang.Long">
		 SELECT
		 <include refid="Base_Column_List" />
		 FROM product_image
		 WHERE id = #{id}
	</select>
		
	<select id="getByProductId" resultType="com.zhengbangnet.modules.entity.ProductImage" parameterType="java.lang.Long">
		 SELECT
		 <include refid="Base_Column_List" />
		 FROM product_image
		 WHERE productId = #{productId}
	</select>

	<!--删除：根据主键ID删除-->
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
		 DELETE FROM product_image
		 WHERE id = #{id}
	</delete>
	
	<!-- 删除：根据外键商品ID删除 -->
	<delete id="deleteByProductId" parameterType="java.lang.Long">
		 DELETE FROM product_image
		 WHERE productId = #{productId}
	</delete>

	<!-- 添加 -->
	<insert id="insert" parameterType="com.zhengbangnet.modules.entity.ProductImage">
		 INSERT INTO product_image
 		(createDate,modifyDate,productId,orders,imgUrl) 
		 VALUES 
 		(#{createDate},#{modifyDate},#{productId},#{orders},#{imgUrl})
	 <selectKey resultType="java.lang.Long" keyProperty="id">
		 SELECT 
		 LAST_INSERT_ID() 
	 </selectKey> 
	</insert>

	<!-- 添加 （匹配有值的字段）-->
	<insert id="insertSelective" parameterType="com.zhengbangnet.modules.entity.ProductImage">
		 INSERT INTO product_image
		 <trim prefix="(" suffix=")" suffixOverrides="," >
			<if test="createDate != null">
				 createDate,
			</if>
			<if test="modifyDate != null">
				 modifyDate,
			</if>
			<if test="productId != null">
				 productId,
			</if>
			<if test="orders != null">
				 orders,
			</if>
			<if test="imgUrl != null">
				 imgUrl,
			</if>

		 </trim>
		 <trim prefix="values (" suffix=")" suffixOverrides="," >
			<if test="createDate!=null">
				 #{createDate},
			</if>
			<if test="modifyDate!=null">
				 #{modifyDate},
			</if>
			<if test="productId!=null">
				 #{productId},
			</if>
			<if test="orders!=null">
				 #{orders},
			</if>
			<if test="imgUrl!=null">
				 #{imgUrl},
			</if>
		 </trim>
	</insert>

	<!-- 修 改-->
	<update id="updateByPrimaryKeySelective" parameterType="com.zhengbangnet.modules.entity.ProductImage">
		 UPDATE product_image
 		 <set> 
			<if test="modifyDate != null">
				 modifyDate = #{modifyDate},
			</if>
			<if test="productId != null">
				 productId = #{productId},
			</if>
			<if test="orders != null">
				 orders = #{orders},
			</if>
			<if test="imgUrl != null">
				 imgUrl = #{imgUrl},
			</if>

 		 </set>
		 WHERE id = #{id}
	</update>

	<!-- 修 改-->
	<update id="updateByPrimaryKey" parameterType="com.zhengbangnet.modules.entity.ProductImage">
		 UPDATE product_image
		 SET 
			 modifyDate = #{modifyDate},
			 productId = #{productId},
			 orders = #{orders},
			 imgUrl = #{imgUrl}
		 WHERE id = #{id}
	</update>

	<!-- 分页查询-->
	<select id="findPageByParams" resultType="java.util.Map" >
		 SELECT 
		 <include refid="Base_Column_List" />
		 FROM product_image
		 where 1=1 
 <!-- 
			<if test="id != null ">
				 AND product_image.id = #{id} 
			</if>
 --> 
		 order by product_image.createDate desc 
		 LIMIT #{pageable.firstResult},#{pageable.pageSize} 
	</select>
	<select id="getCountByParams" resultType="java.lang.Long" >
		 SELECT COUNT(id) FROM product_image
		 WHERE 1=1 
 <!-- 
			<if test="id != null ">
				 AND product_image.id = #{id} 
			</if>
 --> 
	</select>

	<select id="findAll" resultType="com.zhengbangnet.modules.entity.ProductImage" >
		 SELECT
		 <include refid="Base_Column_List" />
		 FROM product_image
	</select>

	<select id="findListByParams" resultType="java.util.Map">
		SELECT 
		 id, createDate, modifyDate, productId, orders, ifnull(imgUrl,'') as imgUrl 
		 FROM product_image
		 <where>
		 	1=1
		 	<if test="productid!=null">
		 		and productid=#{productid}
		 	</if>
		 </where>
		 order by orders
	</select>
</mapper>