<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhengbangnet.modules.mapper.SysAdminRoleMapper">

	<!-- 通用查询结果列-->
	<sql id="Base_Column_List">
		sysAdmin, sysRole
	</sql>

	<!-- 查询（根据主键ID查询） -->
	<select id="getByPrimaryKey" resultType="com.zhengbangnet.modules.entity.SysAdminRole" parameterType="java.lang.Long">
		 SELECT
		 <include refid="Base_Column_List" />
		 FROM sys_admin_role
		 WHERE sysAdmin = #{sysAdmin}
	</select>

	<!--删除：根据主键ID删除-->
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
		 DELETE FROM sys_admin_role
		 WHERE sysAdmin = #{sysAdmin}
	</delete>
	
	<!--删除：根据主键ID删除-->
	<delete id="deleteBySysAdminId" parameterType="java.lang.Long">
		 DELETE FROM sys_admin_role
		 WHERE sysAdmin = #{sysAdmin}
	</delete>
	
	<!--删除：根据主键ID删除-->
	<delete id="deleteBySysRoleId" parameterType="java.lang.Long">
		 DELETE FROM sys_admin_role
		 WHERE sysRole = #{id}
	</delete>

	<!-- 添加 -->
	<insert id="insert" parameterType="com.zhengbangnet.modules.entity.SysAdminRole">
		 INSERT INTO sys_admin_role
 		(sysAdmin,sysRole) 
		 VALUES 
 		(#{sysAdmin},#{sysRole})
	 <selectKey resultType="java.lang.Long" keyProperty="id">
		 SELECT 
		 LAST_INSERT_ID() 
	 </selectKey> 
	</insert>

	<!-- 添加 （匹配有值的字段）-->
	<insert id="insertSelective" parameterType="com.zhengbangnet.modules.entity.SysAdminRole">
		 INSERT INTO sys_admin_role
		 <trim prefix="(" suffix=")" suffixOverrides="," >
			<if test="sysAdmin != null">
				 sysAdmin,
			</if>
			<if test="sysRole != null">
				 sysRole,
			</if>

		 </trim>
		 <trim prefix="values (" suffix=")" suffixOverrides="," >
			<if test="sysAdmin!=null">
				 #{sysAdmin},
			</if>
			<if test="sysRole!=null">
				 #{sysRole},
			</if>
		 </trim>
	</insert>

	<!-- 修 改-->
	<update id="updateByPrimaryKeySelective" parameterType="com.zhengbangnet.modules.entity.SysAdminRole">
		 UPDATE sys_admin_role
 		 <set> 
			<if test="sysRole != null">
				 sysRole = #{sysRole},
			</if>

 		 </set>
		 WHERE sysAdmin = #{sysAdmin}
	</update>

	<!-- 修 改-->
	<update id="updateByPrimaryKey" parameterType="com.zhengbangnet.modules.entity.SysAdminRole">
		 UPDATE sys_admin_role
		 SET 
			 sysRole = #{sysRole}
		 WHERE sysAdmin = #{sysAdmin}
	</update>

	<!-- 分页查询-->
	<select id="findPage" resultType="java.util.Map" >
		 SELECT 
		 <include refid="Base_Column_List" />
		 FROM sys_admin_role
		 where 1=1 
		 LIMIT #{firstResult},#{pageSize} 
	</select>

	<select id="getCount" resultType="java.lang.Long" >
		 SELECT COUNT(sysRole) FROM sys_admin_role
	</select>

	<!-- 分页查询-->
	<select id="findPageByCondition" resultType="java.util.Map" >
		 SELECT 
		 <include refid="Base_Column_List" />
		 FROM sys_admin_role
		 where 1=1 
 <!-- 
			<if test="id != null ">
				 AND sys_admin_role.id = #{id} 
			</if>
 --> 
		 order by sys_admin_role.createDate desc 
		 LIMIT #{pageable.firstResult},#{pageable.pageSize} 
	</select>
	<select id="getCountByCondition" resultType="java.lang.Long" >
		 SELECT COUNT(sysRole) FROM sys_admin_role
		 WHERE 1=1 
 <!-- 
			<if test="id != null ">
				 AND sys_admin_role.id = #{id} 
			</if>
 --> 
	</select>

	<select id="findAll" resultType="com.zhengbangnet.modules.entity.SysAdminRole" >
		 SELECT
		 <include refid="Base_Column_List" />
		 FROM sys_admin_role
	</select>

</mapper>