.gonggao_wrap {
	width: 80%;
	padding: 0 5%;
	background: #fff;
	border-radius: 8px;
	overflow: hidden;
	z-index: 99999;
	position: fixed;
	top: 14vh;
	left: 5%;
	right: 5%;
	overflow-y: auto;
	display: none;
}

.gonggao_wrap h6 {
	width: 80%;
	margin: 0 auto;
	display: block;
	height: 6vh;
	line-height: 6vh;
	font-weight: normal;
	font-size: 1em;
	text-align: center;
	color: #ff7d84;
	margin-bottom: 10px;
	border-bottom: 1px dotted #ccc;
}

.ad_img {
	width: 100%;
}

.ad_con p {
	font-size: 0.8em;
	color: #8e8d8d;
	margin: 10px auto;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
}

.ad_oper {
	display: flex;
	margin-bottom: 20px;
	justify-content: space-between;
}

.ad_oper a {
	width: 40%;
	background: #f5f5f5;
	text-align: center;
	height: 38px;
	line-height: 38px;
	color: #fff;
	font-size: 0.8em;
}

#blankWrap {
	position: fixed;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	z-index: 9999;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.8);
}