.pageLists-yw a, .pageLists-yw span{
	display: inline-block;
	padding: 5px 10px;
	font-size: 14px;
	color: #000000;
	background: #d8d8dc;
	color: #fff;
}
.pageLists-yw{
	padding: 0 20px;
	text-align: right;
}
.pageLists-yw .current{
	background: #1ab394;
}
.icon-need{
	font-size: 12px;
	color: #ec4758;
	font-weight: normal;
	vertical-align: top;
}
